{% extends 'base.html' %}

{% block title %}
{{ act.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <!-- <H1>{{ act.title }}</H1>    -->
    <div class="container mt-5">
   
        
        <div class="alert alert-info">
            <div class="container" justify-content-center >
            <p align="center"><strong>Акт проверки имущества № <span style="color: #ff6600;">{{ act.act_id }}</span></strong></p>
            <p align="center"><strong>Договор № <span style="color: #ff6600;">{{ act.contract_number }}</span></strong></p>
            </div>
            <br>
            <p align="right">г. Владивосток </p>                     
            <p align="right">Дата проверки <span style="color: #ff6600;">{{ act.date.date() }}</span>  </p>       
           <br>
            <p>На основе заключенного договора № <span style="color: #ff6600;">{{ act.contract_number }}</span> после получения сигнала тревоги на пульт управления оператора ОВО, была осуществлена проверка имущества клиента, расположенного по адресу <span style="color: #ff6600;">{{ act.object_adress }}</span></p>
        <br>

            <p> <b>Справочно: </b></p>
            <p>Статус проверки: <span style="color: #ff6600;">{{ act.status }}</span></p>
            <p>Детали проверки: <span style="color: #ff6600;">{{ act.text }}</span></p>
            <br>      
            <p align="right">Дата проверки <span style="color: #ff6600;">{{ act.date.date() }}</span>  </p>             
            <p align="right">Сотрудник ОВО __________________ (подпись) </p>  
   
</div>


{% endblock %}