{% extends 'base.html' %}

{% block title %}
Все договоры
{% endblock %}

{% block body %}
<div class="container mt-5">
    <H1>Акты проверок</H1> 
    {% if acts|length > 0 %}
        <!-- На вход получаем список, который нужно перебрать -->
        {% for el in acts %} 
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2> 
            <p>{{ el.status }}</p>
            <p> <b>Дата: {{ el.date.date() }} </b> </p>
            <a href="/acts/{{ el.act_id }}" class="btn btn-warning"> Подробнее</a>
        </div>
        {% endfor %}
    {% else: %}
    <p>В вашей базе данных нет актов проверок</p>    
    {% endif %}
</div>


{% endblock %}