<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
<body>

  <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  

    <div class="container">

      <header class="blog-header py-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <div class="container-fluid">

            
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Создать
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/create_contract">Создать договор</a>
                  <a class="dropdown-item" href="/create_act">Создать акт проверки</a>
                  <a class="dropdown-item" href="/director_report">Создать отчет для директора</a>
                  <a class="dropdown-item" href="client_report">Создать отчет для клиента</a>
                </div>
              </div>
  
              <div class="dropdown show ">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Просмотреть
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/contracts">Просмотреть договоры</a>
                  <a class="dropdown-item" href="/acts">Просмотреть акты проверки</a>
                  <!-- <a class="dropdown-item" href="#">Просмотреть отчет для начальства</a>
                  <a class="dropdown-item" href="#">Просмотреть отчет для клиента</a> -->
                </div> 
              </div>

         
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Справка
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/rules">Устав ОВО</a>
                  <a class="dropdown-item" href="/law">ФЗ "О полиции"</a>
                  <a class="dropdown-item" href="/price">Прейскурант цен</a>
                  <a class="dropdown-item" href="#">Информация</a>
                </div>
              </div>

          <!-- <div class="container"> -->
            <a class="btn btn-sm btn-outline-secondary " href="#" onClick="window.print()"> Распечатать </a>  
            <a class="btn btn-sm btn-outline-secondary " href="/signin">Войти</a>
            <a class="btn btn-sm btn-outline-secondary " href="/signin">Регистрация</a>   
          <!-- </div> -->

          </div>
        </nav>
      </header>


      
    {% block body %}
    
    {% endblock %}

    </div>
    
</body>
</html>