{% extends 'base.html' %}

{% block title %}
Отчет для клиента
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="container d-flex justify-content-between ">
        <H1> Краткий отчет для клиента  </H1>   
        <!-- <p>Введите ФИО клиента:</p> -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Введите номер договора"  name="q" value="{{ request.args.get('q', '') }} ">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
    </div>  
        <div class="alert alert-info">
            <p><b>Всего проверок было выполнено - </b> {{ act_amount }} <p> 
            <p><b>Количество ложных вызовов -  </b> {{ fake_act_amount }} <p> 
            <p><b>Количество реальных вызовов -  </b> {{ real_act_amount }} <p>
            <p><b>К оплате по договору - </b> {{ contract_sum }} рублей<p></p>
            <!-- <p><b>Всего договоров было составлено - </b> {{ contract_amount }} <p> 
            <p><b>Общий доход по договорам - </b> {{ contract_sum }} рублей<p> 
            
            <p><b>Количество ложных вызовов -  </b> {{ fake_act_amount }} <p> 
            <p><b>Количество реальных вызовов -  </b> {{ real_act_amount }} <p>     -->
            <p><b>Дата составления отчета: </b> {{ now }} <p> 
            

         
        </div>
        
    
   
</div>


{% endblock %}