{% extends 'base.html' %}

{% block title %}
{{ contract.title }}
{% endblock %}

{% block body %}
	

<div class="container mt-5">
    <!-- <H1>{{ contract.title }}</H1>    -->
    
    <div class="alert alert-info">
        <div class="container" justify-content-center >
        <p align="center"><strong>ДОГОВОР № <span style="color: #ff6600;">{{ contract.contract_id }}</span></strong></p>
        <p align="center"><strong>на охранные услуги</strong></p>
        </div>


        <p align="right">г. Владивосток </p>                     
        <p align="right">Дата заключения <span style="color: #ff6600;">{{ contract.date.date() }}</span>  </p>       
       
        
        <p>Федеральное государственное казенное учреждение «Управление вневедомственной охраны войск национальной гвардии Российской Федерации по городу Владивостоку» (ФГКУ «УВО ВНГ России по городу Владивостоку»), именуемое в дальнейшем «Охрана», в лице  начальника Иванова И.И., действующего на основании Положения и доверенности от <span style="color: #ff6600;">{{ contract.date.date() }}</span> Договор № <span style="color: #ff6600;">{{ contract.contract_id }}</span>, с одной стороны, и <span style="color: #ff6600;">{{ contract.client_name }}</span>, именуемый (-ое) в дальнейшем «Клиент», ответственное лицо клиента: <span style="color: #ff6600;">{{ contract.client_person }}</span>, действующего на основании ФЗ "О Полиции", с другой стороны, вместе именуемые «Стороны» и каждый в отдельности «Сторона», заключили настоящий Договор о нижеследующем:</p>
        
        <p><br>
        </p>
        
        <p><strong>1. ПРЕДМЕТ ДОГОВОРА</strong></p>
        
        <p>1.1. Охрана оказывает охранные услуги на «Объекте» Клиента, указанном в Акте обследования, который является неотъемлемой частью настоящего договора (приложение № 2 к настоящему договору). </p>
        
        <p>Объект клиента расположен по адресу: <span style="color: #ff6600;">{{ contract.object_adres }}</span> </p>
        
        <p>1.2. Услуги, оказываемые Охраной заключаются:</p>
        
        <p>Детали договора: <span style="color: #ff6600;">{{ contract.text }}</span></p>
        <p>Стоимость услуг: <span style="color: #ff6600;">{{ contract.cost }}</span> рублей</p>
        
        <p>1.2.1. В приеме сообщений, формируемых установленным на «Объекте» комплексом технических средств охраны (далее - «Комплексом»), с помощью пульта централизованного наблюдения. Состав Комплекса и перечень защищаемых помещений указываются в Акте обследования (приложение № 2  к настоящему договору).</p>
        
        <p>1.2.2. В реагировании мобильными нарядами вневедомственной охраны войск национальной гвардии на поступающие с «Объекта» «тревожные» сообщения.</p>
        
        <p>Примечание: В случае применения систем информаторного принципа действия, под «тревожными», понимаются сообщения о проникновении, нападении, пожаре, а также снятии «Объекта» с охраны с использованием кода снятия с охраны по принуждению.</p>
        
        <p>1.2.3. Охрана принимает под охрану «Объект», оборудованный техническими средствами, с подключением их к системам централизованной охраны. Установка и техническое эксплуатационное обслуживание средств сигнализации на «Объекте» производится обслуживающей организацией по договору с Клиентом. Ответственность за исправность технических средств охранной сигнализации, установленных на «Объекте», несет обслуживающая организация в соответствии с договором на техническое обслуживание.</p>
        
        <p><strong>2. ОБЯЗАННОСТИ СТОРОН</strong></p>
        
        <p><strong>2.1. ОХРАНА <a name="_GoBack"></a>ОБЯЗУЕТСЯ:</strong></p>
        
        <p>2.1.1. Обеспечить прием и регистрацию сообщений, передаваемых Комплексом.</p>
        
        <p>2.1.2. При получении «тревожного» сообщения направить мобильный наряд вневедомственной охраны войск национальной гвардии к «Объекту», обеспечить прибытие наряда вневедомственной охраны войск национальной гвардии в максимально короткие сроки. </p>
        
        <p>2.1.3. При обнаружении признаков нарушения целостности «Объекта», обеспечить, не проникая на «Объект», неприкосновенность места происшествия до прибытия уполномоченного представителя Клиента и (или) следственно-оперативной группы. В случае необходимости принимает меры к задержанию лиц, находящихся на «Объекте», блокированию возможных путей их отхода. </p>
        
        <p><strong>2.2. КЛИЕНТ ОБЯЗУЕТСЯ:</strong></p>
        
        <p>2.2.1. Выполнять определенные сторонами и отражаемые в двухсторонних актах обследования «Объекта» мероприятия: по технической укрепленности «Объекта», оборудованию «Объекта» средствами Комплекса, по соблюдению условий хранения материальных ценностей.</p>
        
        <p>Предложения и предписания Охраны о принятии мер инженерно – технической укрепленности и антитеррористической защищенности «Объекта», основанные на требованиях действующего законодательства, являются обязательными для Клиента.</p>
        
        <p>2.2.2. Обеспечить соблюдение уполномоченными лицами установленного порядка сдачи (приемки) «Объектов» на пульт централизованного наблюдения, а также осуществление управления Комплексом в строгом соответствии с действующими инструкциями и рекомендациями Охраны. Соблюдать конфиденциальность: не разглашать сведения о принципах построения и составе Комплекса, присвоенных пультовых номерах, паролях, кодах пользователей, а также иную информацию.</p>
        
        <p>2.2.3. Предоставить Охране данные о служебных и домашних телефонах, а также об адресах доверенных лиц, уполномоченных осуществлять прием (сдачу) «Объекта», вскрывать и участвовать в осмотре «Объекта», активировать действия Охраны. В течение срока действия Договора в письменной форме уведомлять Охрану о произошедших изменениях», не позднее чем через 3 дня со дня наступления таких изменений.</p>
        
        <p>2.2.4. При проведении на «Объекте» ремонта, перепланировки, переоборудования помещений, в случаях появления новых или изменения мест хранения ценностей, изменения режима или профиля работ, сдачи помещений (площадей) в аренду или передачи помещений другим лицам, а также при проведении иных мероприятий, которые могут повлиять на техническое состояние Комплекса, повлечь за собой изменения в составе Комплекса и потребовать проведения дополнительных мероприятий по технической (инженерной) укрепленности «Объекта», уведомить об этом Охрану не позднее, чем за 15 дней до наступления таких изменений. </p>
        
        <p>2.2.5. Перед включением Комплекса в режим охраны проверять, чтобы на «Объекте» не остались люди, животные, включенные электроприборы, источники огня, запирать двери, окна, форточки, люки и т.д. на запорные и замковые устройства. Осуществлять внешний осмотр средств Комплекса на предмет наличия внешних повреждений. Своевременно сообщать в обслуживающую организацию и Охрану о возникших неисправностях и обеспечить возможность проведения ремонтных и регламентных работ по техническому обслуживанию средств сигнализации.</p>
        
        <p>2.2.6. Не допускать к средствам Комплекса для устранения неисправностей, внесения изменений в схему блокировки «Объекта» посторонних лиц, не производить указанные работы своими силами.</p>
        
        <p>2.2.7. В случаях обнаружения Охраной признаков проникновения на «Объект», а также при принятии Охраной мотивированного решения о необходимости осмотра и «перезакрытия» «Объекта», прибыть или обеспечить прибытие на «Объект» доверенного лица в возможно короткий срок, но не позднее чем через два часа после получения сообщения.</p>
        
        <p>2.2.8. При обнаружении нарушения целостности «Объекта», факта кражи, уничтожения или повреждения имущества в результате проникновения на «Объект» посторонних лиц, сообщить об этом Охране. До прибытия представителей Охраны обеспечить неприкосновенность места происшествия. По прибытии представителей сторон на место происшествия произвести снятие остатков товарно-материальных ценностей, сопоставляемых с данными бухгалтерского учета на день происшествия.</p>
        
        <p>2.2.9. Обеспечить исправность линий телефонной связи и сети электропитания, к которым подключено оборудование Комплекса. Отслеживать и поддерживать положительный баланс на SIM-карте, установленной в приемно-контрольном приборе охранной сигнализации.</p>
        
        <p>2.2.10. Соблюдать положения «Общих условий предоставления услуг, оказываемых МОВО _____________ФГКУ «УВО ВНГ России по городу Москве» посредством пультов централизованного наблюдения» (приложение № 1 к настоящему договору). </p>
        
        <p>2.2.11. Своевременно вносить абонентскую плату и оплачивать счета, выставляемые согласно условиям настоящего договора.</p>
        
        <p>2.2.12. Обеспечить техническое обслуживание Комплекса с привлечением организации, имеющей соответствующие лицензии на данный вид деятельности.</p>
        
        <p>2.2.13. В течение 30 календарных дней:</p>
        
        <p>2.2.13.1. Устранять выявленные при обследовании и отраженные в Актах обследования недостатки в технической укрепленности охраняемых объектов, средств охраны и связи, в том числе охранной сигнализации; производить капитальный ремонт или замену комплекса технических средств охраны.</p>
        
        <p>2.2.13.2. Производить капитальный ремонт или замену комплекса технических средств охраны при невозможности его дальнейшей эксплуатации из-за физического износа или необратимого изменения технических параметров вследствие воздействия климатических или производственных факторов, исключающих надежную защиту охраняемого объекта, но не реже одного раза в 8 лет.</p>
        
        <p>2.2.14. Направлять в адрес Охраны уведомление о принятии решения Клиентом о ликвидации организации, о возбуждении арбитражным судом в отношении Клиента дела о несостоятельности (банкротстве).</p>
        
        <p>Примечание: Действие подпункта 2.2.14 Договора распространяется на юридических лиц, которые могут быть признаны несостоятельными (банкротами) в соответствии с Гражданским кодексом Российской Федерации.</p>
        
        <p>2.2.15. В случае неподписания акта-сдачи приемки выполненных услуг, непредьявления возражения и претензий по качеству, объему и стоимости услуг, непредоставления мотивированного отказа от подписания акта сдачи – приемки выполненных услуг в трехдневный срок, услуги считаются оказанными. </p>
        
        <p>Примечание: Действие подпункта 2.2.15 Договора распространяется на организации, финансирующиеся из федерального бюджета Российской Федерации, бюджета города Москвы.</p>
        
        <p>2.2.16. Незамедлительно обращаться в организацию, осуществляющую техническое обслуживание, для замены кодов поставки/снятия объекта с охраны при изменении списка лиц, ответственных за данные действия.</p>
        
        <p>2.2.17. В кратчайшие сроки информировать Охрану об изменениях списка лиц, ответственных за постановку/снятие объекта с охраны.</p>
        
        <p>2.2.18. Присваивать индивидуальные коды постановки/снятия объекта с охраны каждому лицу, ответственному за данные действия.</p>
        
        <p>2.2.19. Информировать в течение 3 (трех) рабочих дней Охрану о возникновении спора о праве на имущество, находящееся во владении Клиента и являющееся объектом охраны.</p>
        
        <p><strong>3. ОТВЕТСТВЕННОСТЬ СТОРОН</strong></p>
        
        <p>3.1. Охрана несет ответственность за ущерб, нанесенный Клиенту от кражи имущества в результате невыполнения или ненадлежащего выполнения Охраной своих обязательств по настоящему договору, в размере реального ущерба, но не свыше суммы, указанной в Перечне объектов и платных услуг, который является неотъемлемой частью настоящего договора (приложение № 3 к настоящему договору).</p>
        
        <p>3.2. За ущерб нанесенный Клиенту от кражи, повреждения или уничтожения имущества, по причине неисправности Комплекса, несет ответственность организация, осуществляющая техническое обслуживание Комплекса.</p>
        
        <p>3.3. Возмещение реального ущерба по п.3.1 производится Охраной на основании вступившего в законную силу решения суда. Размер реального ущерба должен быть подтвержден расчетом стоимости похищенных, уничтоженных или поврежденных материальных ценностей, составленным с участием Охраны и сверенным с данными бухгалтерского учета.</p>
        
        <p>3.4. При возвращении Клиенту похищенного имущества, Клиент возвращает Охране денежные средства из общей суммы, полученной от нее в порядке возмещения ущерба в срок, не превышающий 30 (тридцати) календарных дней со дня подписания акта приема-передачи имущества, составленного в присутствии представителя Охраны. </p>
        
        <p>3.5. Охрана вправе взимать с Клиента дополнительную плату, указанную в Перечне объектов и платных услуг (приложение № 3 к настоящему договору), за неправильные действия Клиента по управлению Комплексом, повлекшие за собой «ложный» выезд наряда вневедомственной охраны войск национальной гвардии.</p>
        
        <p><br>
        </p>
        
        <p align="right">Клиент <u> <span style="color: #ff6600;">{{ contract.client_name }}</span> </u>(подпись) </p>      
                       
        <p align="right">Охрана __________________ (подпись) </p>  



        
        
        

        
        
    </div>
</div>

    
{% endblock %}