{% extends 'base.html' %}

{% block title %}
Создание договора
{% endblock %}

{% block body %}
<div class="container mt-5">
<H1>Создание договора</H1>
<form method="POST">
    Заголовок:
    <input type="text" name="title" id="title" class="form-control"><br>
    Аннотация:
    <textarea name="intro" id="intro" class="form-control"></textarea><br>
    Основной текст:
    <textarea name="text" id="text" class="form-control"></textarea><br>
    <input type="submit" class="btn btn-success" value="Создать">
</form>

<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}
{% endwith %} -->
 
</div>
{% endblock %}