{% extends 'base.html' %}

{% block title %}
Прейскурант цен
{% endblock %}

{% block body %}
<div class="container mt-5">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    Вид услуг
                </td>
                <td align="center">
                    без оружия (минимальная цена)
                </td>
                <td align="center">
                    с оружием (минимальная цена)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Охрана объектов
                </td>
            </tr>
            <tr>
                <td>
                    Круглосуточный пост
                </td>
                <td nowrap="">
                    70 000
                </td>
                <td nowrap="">
                    110 000
                </td>
            </tr>
            <tr>
                <td>
                    Дневной пост с режимом работы пятидневка
                </td>
                <td nowrap="">
                    50 000
                </td>
                <td nowrap="">
                    65 000
                </td>
            </tr>
            <tr>
                <td>
                    Дневной пост с режимом работы ежедневно
                </td>
                <td nowrap="">
                    60 000
                </td>
                <td nowrap="">
                    75 000
                </td>
            </tr>
            <tr>
                <td>
                    Начальник охраны объекта с режимом работы с 9 до 18 часов
                    (праздничные дни и выходные) в режиме оперативного реагирования
                </td>
                <td colspan="2">
                    50 000
                </td>
            </tr>
            <tr>
                <td>
                    Ночной пост но не менее 10 часов
                </td>
                <td colspan="2">
                    200 р./час
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Физическая охрана (с оружием):
                </td>
            </tr>
            <tr>
                <td>
                    один охранник - с режимом работы круглосуточно
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    210 000
                </td>
            </tr>
            <tr>
                <td>
                    один охранник - с дневным режимом работы пятидневка
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    85 000
                </td>
            </tr>
            <tr>
                <td>
                    1 охранник - с дневным режимом работы ежедневно
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    150 000
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Водитель/охранник (с оружием)
                </td>
            </tr>
            <tr>
                <td>
                    один человек - с режимом работы круглосуточно
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    220 000
                </td>
            </tr>
            <tr>
                <td>
                    1 человек - с дневным режимом работы ежедневно
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    160 000
                </td>
            </tr>
            <tr>
                <td>
                    один человек - с дневным режимом работы ежедневно пятидневка
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    95 000
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Сопровождение материальных ценностей
                </td>
            </tr>
            <tr>
                <td>
                    Сопровождение 1 вооруженным сотрудником
                    <br/>
                    Минимальное время заказа 4 часа.
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    1800 р./час
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Обеспечение массовых мероприятий
                </td>
            </tr>
            <tr>
                <td>
                    1 сотрудник
                    <br/>
                    время заказа 4 часа.
                </td>
                <td colspan="2">
                    450 р./час
                </td>
            </tr>
            <tr>
                <td>
                    Сопровождение 1 вооруженным сотрудником
                    <br/>
                    Минимальное время заказа 4 часа.
                </td>
                <td nowrap="">
                    -
                </td>
                <td colspan="2" nowrap="">
                    1800 р./час
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}