{% extends 'base.html' %}

{% block title %}
Справка
{% endblock %}

{% block body %}
<div class="container mt-5">
    <H1>Устав ОВО (ПРИМЕР)  </H1> 
    <p>1. ОБЩИЕ ПОЛОЖЕНИЯ


        1.1. Настоящий Устав регулирует деятельность Общества с ограниченной ответственностью "Частное охранное предприятие " _________________ " в дальнейшем именуемое Общество.
        
        
        1.2. Общество является юридическим лицом - коммерческой организацией, уставный капитал которого разделен на доли определенных учредительными документами размеров, созданным в целях извлечения прибыли.
        
        
        1.3. Общество создано в соответствии с Гражданским кодексом Российской Федерации, Федеральным законом Российской Федерации "Об обществах с ограниченной ответственностью", на основе добровольного соглашения лиц, поименованных  в главе 4 настоящего Устава.
        
        
        1.4. Общество создано без ограничения срока.
        
        
        1.5. Общество имеет в собственности обособленное имущество, учитываемое на его самостоятельном балансе, может от своего имени приобретать и осуществлять имущественные и личные неимущественные права, нести обязанности, быть истцом и ответчиком в суде.
        
        
        1.6. Общество вправе в установленном законодательством порядке открывать банковские счета на территории Российской Федерации и за ее пределами. Общество имеет круглую печать, содержащую его полное фирменное наименование на русском языке и указание на место нахождения общества. Общество вправе иметь штампы и бланки со своим фирменным наименованием, собственную эмблему, а также зарегистрированный в установленном порядке товарный знак и другие средства индивидуализации.
        
        
        1.8. Общество несет ответственность по своим обязательствам всем принадлежащим ему имуществом. Общество не отвечает по обязательствам своих участников.
        
        
        1.9. Участники имеют предусмотренные законом и учредительными документами Общества обязательственные права по отношению к Обществу.
        
        
        Участники не отвечают по обязательствам Общества и несут риск убытков, связанных с деятельностью Общества, в пределах стоимости внесенных ими вкладов.
        
        
        1.10. Полное фирменное наименование Общества: Общество с ограниченной ответственностью "Частное охранное предприятие "_______________________" .
        
        
        Сокращенное фирменное наименование Общества: ООО "ЧОП "_____________________" .
        
        
        1.11. Место нахождения Общества:  ____________________________________________ .     
        
        
        Почтовый адрес Общества, по которому с ним осуществляется связь:
        
        .
        
        
        
        1.12. Общество приобретает права юридического лица с момента его государственной регистрации.
        
        2. ЦЕЛЬ И ВИДЫ ДЕЯТЕЛЬНОСТИ
        
        
        2.1. Целью деятельности Общества является извлечение прибыли.
        
        
        2.2. Единственным видом деятельности Общества является охранная деятельность.
        
        
        В целях охраны Общество вправе предоставлять следующие виды услуг:
        
        
        - защита жизни и здоровья граждан;
        
        
        - охрана имущества (в том числе при его транспортировке), находящегося в собственности, во владении, в пользовании, хозяйственном ведении, оперативном управлении или доверительном управлении;
        
        
        - проектирование, монтаж и эксплуатационное обслуживание средств охранно-пожарной сигнализации;
        
        
        - консультирование и подготовка рекомендаций клиентам по вопросам правомерной защиты от противоправных посягательств;
        
        
        - обеспечение порядка в местах проведения массовых мероприятий.
        
        
        2.3. Указанным видом деятельности Общество может заниматься только на основании специального разрешения (лицензии).
        
        
        Общество в течение срока действия специального разрешения (лицензии) не вправе осуществлять иные виды деятельности, за исключением видов деятельности, предусмотренных специальным разрешением (лицензией) и им сопутствующих.
        
        
        2.4. Деятельность Общества осуществляется в соответствии с  Законом Российской Федерации "О частной детективной и охранной деятельности в Российской Федерации", иным действующим законодательством Российской Федерации.
        </p>        
</div>


{% endblock %}